/* @import '~bootstrap/dist/css/bootstrap.css'; */
@import '~font-awesome/css/font-awesome.css';
@import '~angular-notifier/styles.css';

p {
  font-family: Lato;
}
*.icon-blue {
  color: #0088cc;
}

*.icon-grey {
  color: grey;
}

i {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 4em !important;
}

.badge:after {
  content: attr(data-count);
  position: absolute;
  background: #ff6600;
  height: 1.8rem;
  top: 8px;
  right: 3px;
  width: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #ff6600;
  font-family: sans-serif;
  font-weight: bold;
}
